@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* <!-- THANH TÌM KIẾM, LOGO, ĐĂNG NHẬP-ĐĂNG KÝ VÀ MENU --> */


#header .header-with-search{
    display: block;
    position: relative;
}
/* LOGO */
.header-logo{
    display: inline;
    margin: 0 60px;
    position: absolute;
    top: 24px;
    left: -43px;
}

.anh-logo{
    width: 270px;
}

/* SEARCH BOX */
.header-search{
    text-align: center;
    float: right;
    position: absolute;
    overflow: hidden;
    width: 570px;
    height: 35px;
    left: 28%;
    top: 10px;
    border-radius: 20px;
    transition: all 0.5s ease;
}
.search-box{
    width: 100%;
    height: 100%;
    background:white;
    outline: none;
    border:none;
    font-size: 15px;
    color: rgb(217, 95, 115);
    padding: 0 12px;
}

.search-box-button{
    position: absolute;
    top: -5px;
    right: 0;
    width: 35px;
    height: 51px;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: white;
}

 .search-box-button:hover{
    cursor: pointer;
    background-color:rgb(217, 95, 115);
} 

.header-cart{
    position: absolute;
    top: 21px;
    left: 75%;
    font-size: 27px;
}

.header-cart:hover{
    cursor: pointer;
}

/* ĐĂNG NHẬP-ĐĂNG KÝ */

.tai-khoan{
    position: absolute;
    left: 80%;
    top: 29px;
}

.btn{
    font-family: sans-serif;
    padding: 12px 20px;
    border-radius: 16px;
    transition: 0.5s;
    border:none;
}

.btn:hover{
    background-color:rgb(217, 95, 115);
    letter-spacing: 0.2em;
    cursor: pointer;
}


/* THANH MENU */
#header{
    height:110px;
    background-color: #ccc;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
}

#nav{
    margin: 0 322px;
    min-width: 500px;
}

#nav > li{
    position: relative;
    display: inline;
    float: right;
}

#nav >li{
    padding:78px 0  0  0;
}

#nav >li >a{
   padding:0 15px;
   text-decoration: none;
   color: #333;
   font-size: 17px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#nav li a{
    text-decoration: none;
    color: #333;
    padding:0 12px;
    line-height: 23px;  
    font-family: 'Quicksand', sans-serif; 
}

#nav >li:hover> a{
   color: rgb(228, 62, 90);
}


/* MENU ĐA CẤP */

#nav .subnav1 li:hover a{
    color: rgb(228, 62, 90);
    cursor: pointer;
}
#nav li:hover .subnav1{
    display: block;
}

#nav .subnav1, .subnav2, .subnav3, .subnav4, .subnav5, .subnav6 a{
    color: #000;
    font-size: 15px;
}

#nav .subnav1  {
   display: none;
   position: absolute;
   background: #fff;
   width: 200px;
   list-style: none;
   border-radius: 15px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
} 

#nav li:hover .subnav2 {
    display: block;
    
}

#nav .subnav2{
    display: none; 
    position: absolute;
    background: #fff;
    width: 140px;
    list-style: none;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


#nav .subnav2 li:hover a{
    transition: 0.5s;
    cursor: pointer;
    color: rgb(228, 62, 90);
    
}

#nav li:hover .subnav3{
    display: block;
}

#nav .subnav3{
    display: none;
    position: absolute;
    background: #fff;
    width: 250px;
    list-style: none;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav3 li:hover a{
    cursor: pointer;
    color: rgb(228, 62, 90);
}

#nav li:hover .subnav4{
    display: block;
}

#nav .subnav4{
    display: none;
    position: absolute;
    background: #fff;
    width: 200px;
    list-style: none;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav4 li:hover a{
    cursor: pointer;
    color: rgb(228, 62, 90);
}

#nav li:hover .subnav5{
    display: block;
}

#nav .subnav5{
    display: none;
    position: absolute;
    background: #fff;
    width: 200px;
    list-style: none;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav5 li:hover a{
    cursor: pointer;
    color: rgb(228, 62, 90);
}


#nav li:hover .subnav6{
    display: block;
}


#nav .subnav6{
    display: none;
    position: absolute;
    background: #fff;
    width: 200px;
    list-style: none;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav6 li:hover a{
    cursor: pointer;
    color: rgb(228, 62, 90);
}

/* HẾT THANH TÌM KIẾM, LOGO, ĐĂNG NHẬP-ĐĂNG KÝ VÀ MENU*/

/* SLIDER, SLIDER ẢNH TRƯỢT VÀ DANH SÁCH ẢNH HOA */

/* SLIDER TRƯỢT */
#slider{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 110px;
}


.title-slider{
    text-align: center;
    padding: 12px 0 12px 0;
}

.title-document{
    font-size: 14px;
    font-family: 'Itim', cursive;
    color: rgb(255, 0, 0);
}

.slider-imgs img{
    width: 100%;
}

.slider-imgs{
    display: flex;
    width: 100%;
    animation: slideshow 16s infinite;
}

.slider-imgs input{
    display: none;
}

.lableslider{
    display: flex;
    justify-content: center;
}

#img1:checked ~ .imgslider1{
    margin-left: -100%;
}

#img2:checked ~ .imgslider2{
    margin-left: -200%;

}

#img3:checked ~ .imgslider3{
    margin-left: -300%;

}

#img4:checked ~ .imgslider4{
    margin-left: -400%;

}


@keyframes slideshow {
	20%{
		margin-left: 0;
	}
	30%{
		margin-left: -100%;
	}

	40%{
		margin-left: -100%;
	}

	50%{
		margin-left: -200%;
	}

	60%{
		margin-left: -200%;
	}

	70%{
		margin-left: -300%;
	}

	80%{
		margin-left: -300%;
	}

	90%{
		margin-left: -400%;
	}

	100%{
		margin-left: -400%;
	}
}

/* DANH SÁCH HOA SLIDER */

#slider .danh-sach-hoa-slider{
    margin-top: 75px;
    position: absolute;
    left: 95px;
    width: 85%;
}

#slider .anh-hoa{
    float: left;
    width: calc(100% / 6);
    padding: 0px 11px;
    transition: 0.5s;
}

#slider .list-anh-hoa{
    width: 120px;
    border-radius: 72px;
}

#slider .title-anh-hoa {
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    letter-spacing:2px ;
    opacity: 0.6;
}

#slider .title-anh-hoa a{
    color: #333;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif; 
    
}


.anh-hoa:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.list-anh-hoa:hover{
    box-shadow: 0 0 10px rgb(228, 62, 90);
}


/* HẾT SLIDER TRƯỢT VÀ DANH SÁCH ẢNH HOA */

/* LIST SẢN PHẨM BÁN CHẠY VÀ SOLOGAN */
#wrapper{
    max-width: 90%;
    margin: 300px auto;
    /* margin: 40px 0; */
}

.heading{
    text-align: center;
    margin: 40px 0;
}

h3{
    font-size: 18px;
    color: rgb(235, 98, 144);
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid #e0a0a0;
    display: inline-block;
    font-weight: 600;
    border-radius: 20px;
    font-family: 'Quicksand', sans-serif;
    transition: 0.7s;
}

#wrapper .heading:hover h3{
    color: #fff;
    background-color: rgb(228, 62, 90);
    letter-spacing: 0.1em;
    cursor: pointer;
}

ul.products{
    list-style: none;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

ul.products li{
    padding-left:15px;
    padding-right:15px ;
    flex-basis:25% ;
}

ul.products li img{
    max-width: 100%;
    height: auto;
}

ul.products li .products-top{
    position: relative; 
    overflow: hidden;
}

ul.products li .products-top .products-thumb{
    display: block;
}

ul.products li:hover .products-top .products-thumb img{
    filter: opacity(80%);
}

ul.products li .products-top .products-thumb img{
    display: block;
}

ul.products li .products-top a.buy-now {
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: rgb(228, 62, 90);
    color: #fff;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: -42px;
    transition: 0.5s ease-in-out;
    opacity: 0.85;
    font-family: Itim, cursive;
}

ul.products li:hover a.buy-now{
    bottom: 0px;
}

ul.products li .products-infor{
    padding: 10px 0;
}

ul.products li .products-infor a{
    display: block;
    text-decoration: none;
}

ul.products li .products-infor a.products-cat{
    font-size: 11px;
    text-transform: uppercase;
    color: #9e9e9e;
    padding: 3px 0px;
}

ul.products li .products-infor a.products-name{
    color: #334862;
    padding: 3px 0;
    text-align: center;
    font-family: 'Quicksand', sans-serif;

}

ul.products li .products-infor .products-price1{
    color: rgb(228, 62, 90);
    padding: 2px 0;
    font-weight: bold;
    position: absolute;
    left: 140px;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;

    
}
ul.products li .products-infor .products-original-price1{
    position: absolute;
    left: 231px;
    top: 1158px;
    text-decoration: line-through;
    color: #9e9e9e;
    font-size: 15px;
}

ul.products li .products-infor .products-price2, .products-price3{
    color: rgb(228, 62, 90);
    padding: 2px 0;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;

}

ul.products li .products-infor .products-price4{
    color: rgb(228, 62, 90);
    padding: 2px 0;
    font-weight: bold;
    position: absolute;
    left: 75%;
    font-family: 'Quicksand', sans-serif;

}

ul.products li .products-infor .products-original-price4{
    position: absolute;
    text-decoration: line-through;
    color: #9e9e9e;
    top: 1157px;
    left: 1046px;
    font-size: 15px;
}


/* SOLOGAN BÁN HOA */

#wrapper .container1{
    float: left;
    width: calc(100%/3);
    text-align: center;
    margin-top: 40px ;
}

#wrapper .container1 img{
    width: 35%;
}

#wrapper .free-shipping, .giao-nhanh, .hoa-dep-nhu-hinh{
    font-size: 19px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    margin: 10px 0;
    font-weight: bold;
}

#wrapper .document-free-shipping{
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
}

#wrapper .document-giao-nhanh{
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;

}

#wrapper .document-hoa-dep-nhu-hinh{
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
}

/* HẾT SẢN PHẨM BÁN CHẠY VÀ SOLOGAN */


/* DANH SÁCH SẢN PHẨM  */

#danh-sach-san-pham{
    width: 90%;
    margin: 0 auto;
}

#danh-sach-san-pham .heading a{
    font-size: 18px;
    color: rgb(235, 98, 144);
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid #e0a0a0;
    display: inline-block;
    font-weight: 600;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.7s;
    font-family: 'Quicksand', sans-serif;
}

#danh-sach-san-pham .heading:hover a{
    color: #fff;
    letter-spacing: 0.1em;
    background-color: rgb(228, 62, 90);
}

#danh-sach-san-pham .gia-tien{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: rgb(97, 96, 96);
    font-family: 'Quicksand', sans-serif;
    margin-top:7px ;

}

/* GHI CHÚ: CÓ SỰ DỤNG LẠI CÁC CSS Ở CÁC THẺ ID Ở TRÊN */

/* HẾT DANH SÁCH SẢN PHẨM */

/* BẮT ĐẦU GIỚI THIỆU SHOP HOA HÀ NỘI */

#shop-introduction{
    width: 90%;
    margin: 0 auto;
    position: relative;
    font-size: 14px;
}

#shop-introduction .tieu-de-shop-introduction{
    text-align: center;
    margin:43px 0;
}

#shop-introduction .tieu-de-shop-introduction .tieu-de-h3{
    border: none;
    color: #333;
    font-size: 25px;
}


#shop-introduction .gioi-thieu-ve-shop{
    padding-left: 65px;
    display: inline;
}

#shop-introduction .gioi-thieu-ve-shop .tieu-de-h2{
    border: none;
    color: #333;
}

#shop-introduction .gioi-thieu-san-pham{
    width: 45%;
}

#shop-introduction .gioi-thieu-san-pham .document-gioi-thieu-san-pham{
    line-height: 1.4;
    font-family: 'Quicksand', sans-serif;
    text-align: justify;
    padding-bottom: 15px;
}

#shop-introduction iframe{
    width: 100%;
}

#shop-introduction .dat-hoa-online {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    border: none;
    color: #333;
    padding: 13px 95px;
    font-size: 15px;
}

#shop-introduction .gioi-thieu-san-pham2{
    width: 50%;
    left: 540px;
    font-family: 'Quicksand', sans-serif;
    line-height: 1.4;
    text-align: justify;
    position: absolute;
    top: 111px;
    padding-left: 15px;
    position:absolute;
    top: 135px;
}

#shop-introduction .dat-hoa-online2{
    border: none;
    padding: 13px 0;
    color: #333;
    font-size: 15px;
}

#shop-introduction .document-dat-hoa-online2{
    padding: 12px 0;
}

/* GIỚI THIỆU SHOP VỀ DANH MỤC SẢN PHẨM */

#shop-introduction .danh-muc-san-pham{
    text-align: justify;
}

#shop-introduction .danh-muc-san-pham .tieu-de-danh-muc-san-pham{
    border: none;
    color: #333;
    font-size: 15px;
}

#shop-introduction .list-san-pham{
    padding:15px 0;
}
#shop-introduction li{
    padding-left:10px ;
    padding-top: 10px;
}

#shop-introduction li a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 15x;
}

#shop-introduction li:hover a{
    color: #5d87bc;
}

/* HẾT GIỚI THIỆU VỀ SHOP */

/* PHẦN KẺ NGANG  */

#solid{
    border: 1px solid;
    width: 1126px;
    position: absolute;
    left: 59px;
    margin: 45px 0;
    color: #ccc;
}


/* FOOTER */

#footer{
    width: 90%;
    position: relative;
    font-family: 'Quicksand', sans-serif;
    margin-top: 80px;
}

#footer .ten-shop-footer{
    position: absolute;
    left: 5%;
    width: 35%;
    text-align: justify;
}

#footer .document-ten-shop{
    font-size: 17px;
    color: #656262;
    font-weight: bold;

}

#footer .cua-hang-chinh{
    padding-top: 15px;
    font-size: 17px;
    color: #656262;
    font-weight: bold;

}

#footer .cua-hang-chinh a{
    text-decoration: none;
    color: #656262;
    font-size: 15px;
    color: #656262;
    font-weight: 100;

}

#footer .van-phong{
    padding: 30px 0;
    font-size: 17px;
    color: #656262;
    font-weight: bold;

}

#footer .van-phong a{
    text-decoration: none;
    color: #656262;
    font-size: 15px;
    font-weight: 100;
}

#footer .chi-nhanh-hcm{
    font-size: 17px;
    color: #656262;
    font-weight: bold;

}

#footer .chi-nhanh-hcm a{
    text-decoration: none;
    color: #656262;
    font-size: 15px;
    font-weight: 100;
}

#footer a:hover{
    color: rgb(228, 62, 90);
}

#footer .link-mang-xa-hoi{
    position: absolute;
    left: 50%;
}

#footer .theo-doi-shop{
    padding-bottom: 13px;
    display: inline;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    color: rgb(97, 96, 96);
}

#footer .facebook{
    font-size: 31px;
    color: blue;
    position: absolute;
    left: -3px;

}

#footer .span1{
    position: absolute;
    left: 34px;
    top: 37px;
}

#footer .twitter{
    position: absolute;
    top: 80px;
    left: 0;
    font-size: 30px;
    color: blue;

}

#footer .span2{
    position: absolute;
    left: 32px;
    top: 86px;
}

#footer .ingstagram{
  top: 126px;
  display: inline-block;
  width: 31px;
  height: 31px;
  text-align: center;
  border-radius: 10px;
  color: #fff;
  font-size: 24px;
  line-height: 32px;
  vertical-align: middle;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  position: absolute;
}

#footer .span3{
    position: absolute;
    left: 33px;
    top: 130px;
}

#footer .linkedin{
    font-size: 30px;
    position: absolute;
    left: 1px;
    top: 170px;
    color: blue;

}

#footer .span4{
    position: absolute;
    left: 35px;
    top: 177px;
}

#footer .youtube{
    font-size: 30px;
    position: absolute;
    left: -2px;
    top: 213px;
    color: red;
}

#footer .span5{
    position: absolute;
    left: 36px;
    top: 219px;
}

#footer .cham-soc-khach-hang{
    display: inline;
    position: absolute;
    right: 0;
}

#footer .tieu-de-cham-soc-khach-hang{
    color: rgb(97, 96, 96);
    font-weight: bold;
    font-size: 18px;
}

#footer .list-cham-soc-khach-hang{
    padding-top: 10px;
}

#footer .list-cham-soc-khach-hang li{
    padding: 5px 0;
    list-style: none;
}

#footer .list-cham-soc-khach-hang li a{
    text-decoration: none;
    color: rgb(97, 96, 96);
    transition: 0.3s;
}


#footer .list-cham-soc-khach-hang li a:hover {
    color: rgb(228, 62, 90);
    letter-spacing: 0.1em;
}
