body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f2f2f2;
  padding: 10px;
  display: flex;
  align-items: center;
}


nav {
  margin-left: auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav ul li {
  margin-left: 20px; /* Khoảng cách giữa các mục trong menu */
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}


.contact-info {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.contact-info h2 {
  margin-top: 0;
  color: #018445
}

.contact-info p {
  margin-bottom: 10px;
  display: flex;
}

.contact-form {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f2f2f2;
  position: absolute;
  left: 10%;
}

.contact-form h2 {
  margin-top: 0;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#map {
  height: 300px;
  margin: 20px auto;
  /* position: absolute; */
  text-align: right;
  padding: 10px;
  display: flex;
}
.centered-text {
  text-align: center;
}
.contact-info p:last-child {
  color: #018445;
}
  /* Định dạng phần tử contact-form */
  .contact-form {
    float: left;
    width: 37%;
  }

  /* Định dạng phần tử map */
  #map {
    float: right;
    width: 50%;
  }

  /* Xóa đường viền mặc định của iframe */
  #map iframe {
    border: 0;
  }








